---
---

@import "{{ site.theme }}";

.author__avatar {
  display: table-cell;
  vertical-align: top;
  width: 200px;
  height: 219px;

  @include breakpoint($large) {
    display: block;
    width: auto;
    height: auto;
  }

  img {
    max-width: 200px;
    border-radius: 50%;


    @include breakpoint($large) {
      padding: 5px;
      border: 1px solid $border-color;
    }
  }
}

.svg-inline--fa.fa-w-12 {

    width: 1.25em;

}

.sidebar {
  opacity: 1;
}